@import "~src/general"; 

.search-bar-container{
    @extend %container-base;

}
.search-btn{
    width: 100%;
}

.order-select-container{
    display: flex;    
    justify-content: flex-end;
    margin-top: 0.8rem;
    select{

    }
}