<div class="category-picker-row">
  <span (click)="selectCategory(category.id)" [ngClass]="{'selected': category.isActive == true}">
    {{category.name}}
  </span>
  <span class="unselect-cat" *ngIf="category.isActive" (click)="unSelectCategory(category.id)">
    <fa-icon icon="times"></fa-icon>
  </span>
</div>
<div>
  <div class="subcategories-container" *ngFor="let category of category.subcategories">
    <app-category-picker
      (select)="selectCategory($event)" 
      (unSelect)="unSelectCategory($event)"
      [category]="category">
    </app-category-picker>
  </div>
</div>