@import "~src/variables"; 

.category-picker-row{
    cursor: pointer;
    span.selected{
        font-weight: 600;
    } 
    span.unselect-cat{
        float: right;
        color: $app-light-gray;
    }
}

.subcategories-container{
    padding-left: 15px;
}