
<div class="category-picker-row">
  <span (click)="selectCategory(category.id)" [ngClass]="{'selected': category.isActive == true}"> 
    {{category.name}}     
  </span> 
  <span *ngIf="category.isActive" (click)="unSelectCategory(category.id)">
      <fa-icon icon="times"></fa-icon>
    </span>
  </div>
  <!-- subcategories:  
    -- ide is category komponensek listája, a select action kimegy a gyökérig 
  -->

  <div>
    <div class="subcategories-container" *ngFor="let category of category.subcategories">
      <app-category-picker 
        (select) = "selectCategory($event)"
        (unSelect) = "unSelectCategory($event)"
        [category]="category">
     </app-category-picker>     
    </div>  
  </div>        

