.review-component-container {
  .review-form { 
    .comment-textarea {      
      resize: none;
      height: 140px;         
    }
    button {
      float: right;
    } 
  }
  .add-review-btn{
    width: 100%;
    margin-bottom: 20px;
  }
}

