<div class="review-component-container">
  <div class="row">
    <!-- Add comment form -->
    <div *ngIf="isLoggedIn" class="col-24">
      <div class="basic-container">
        <button class="btn add-review-btn" type="button" (click)="showForm = !showForm"
          [ngClass]="{'d-none': showForm}">
          Add review
        </button>
        <div class="review-form" [ngClass]="{'d-none': !showForm}">
          <form (ngSubmit)="addReview()">
            <div class="form-group">
              I am giving this product a
              <select [(ngModel)]="newReview.mood" name="mood">
                <option *ngFor="let mood of reviewMood | enumToArray" [value]="mood">
                  {{moodDisplay[mood]}}
                </option>
              </select>
              review.
              <a class="float-right" href="javascript:void(0)" (click)="cancelReview();">
                <fa-icon [icon]="['fas', 'times']" size="sm"></fa-icon>
              </a>
            </div>
            <div class="form-group">
              <textarea [(ngModel)]="newReview.text" name="text" type="text" class="form-control comment-textarea"
                placeholder="Write text review here...">
                  </textarea>
            </div>
            <div style="height: 40px">
              <button type="submit" class="btn btn-primary">Submit review</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoggedIn" class="col-24 basic-container">
      <a [routerLink]="['/account/login']" [queryParams]="{return: router.url}">Log in to comment.</a>
    </div>

    <!-- List reviews of profucts-->
    <div class="col-12">
      <p class="review-class">Positive reveiws:</p>
      <div class="review-item-list-container">
        <app-review-item *ngFor="let review of positiveReviews" [review]="review" (upvoteEvent)="upvote($event)"
          (downvoteEvent)="downvote($event)" (editEvent)="edit($event)" (deleteEvent)="delete($event)" long-press
          (onLongPress)="adminDelete(review)">
        </app-review-item>
      </div>
    </div>
    <div class="col-12">
      <p class="review-class">Negative reveiws:</p>
      <div class="review-item-list-container">
        <app-review-item *ngFor="let review of negativeReviews" [review]="review" (upvote)="upvote($event)"
          (downvote)="downvote($event)" long-press (onLongPress)="adminDelete(review)">
        </app-review-item>
      </div>
    </div>
  </div>
</div>