.picture-box {
  height: 300px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;

  .uploaded-img{
    object-fit: contain;
    width: 340px;
    height: 220px;
  }

  .upload-button-container {
    padding: 20px;
  }
}
