<div class="row">
  <form class="col-sm-10" (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="currentPassword">Current password</label>
      <input [(ngModel)]="currentPassword" name="currentPassword" type="password" class="form-control"
        placeholder="Password">
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input [(ngModel)]="newPassword" name="newPassword" type="password" class="form-control"
        placeholder="New Password">
    </div>
    <div class="form-group">
      <label for="newPasswordAgain">New password again</label>
      <input [(ngModel)]="newPasswordAgain" name="newPasswordAgain" type="password" class="form-control"
        placeholder="New Password">
    </div>
    <button type="submit" class="btn btn-primary">Update password</button>
  </form>
</div>