<div class="review-item-container">
  <div class="review-info">
    <div class="author-name">{{review.authorName}}</div>
    <div class="created">{{review.createdAt}}</div>
  </div>
  <!-- if not editing, show comment text -->
  <div *ngIf="!isEditing" class="review-body">
    {{review.text}}
  </div>
  <!-- if editing, show input  -->
  <div *ngIf="isEditing" class="review-body">
    <textarea [(ngModel)]="editedText"></textarea>
  </div>

  <div class="review-like-container">
    <button *ngIf="!review.isMine" [ngClass]="{voted : review.wasUpvotedByMe}" (click)="pressedUpvote()">
      <fa-icon [icon]="['fas', 'arrow-up']" size="xs"></fa-icon>
    </button>
    {{review.points}}
    <button *ngIf="!review.isMine" [ngClass]="{voted : review.wasDownvotedByMe}" (click)="pressedDownvote()">
      <fa-icon [icon]="['fas', 'arrow-down']" size="sm"></fa-icon>
    </button>

    <div *ngIf="review.isMine" class="own-comment-actions">
      <ng-container *ngIf="!isEditing">
        <button (click)="edit()">
          <fa-icon [icon]="['fas', 'pencil-alt']" size="sm"></fa-icon>
        </button>
        <button (click)="delete()">
          <fa-icon [icon]="['fas', 'trash']" size="sm"></fa-icon>
        </button>
      </ng-container>
      <button *ngIf="isEditing" (click)="save()">
        <fa-icon [icon]="['fas', 'save']" size="sm"></fa-icon>
      </button>
    </div>
  </div>
</div>