@import 'variables';

%container-base{
    background-color: $container-color;   
    padding: 1rem;
    margin-top: 1rem;       
}

.btn{
    background-color: $brand-blue;
    color: white;
    font-weight: 500;
}