<div class="product-detail-container" *ngIf="product != null">
  <h2>
    {{product.name}}
    <bar-rating [(rate)]="product.scoreValue" [readOnly] [max]="5"></bar-rating>
    <app-scoring></app-scoring>
  </h2>

  <p>score: {{product.scoreValue}}</p>
  <!-- todo -->
  <p>price: {{product.price}}</p>
  <p>category: {{product.categoryName}}</p>
  <p>brand: {{product.brandName}}</p>

  <!-- dynamic attributes -->
  <table class="product-attribute-table">
    <ng-container *ngFor="let attribute of product.attributes">
      <tr>
        <td>{{attribute.attributeName}}:</td>
        <td>{{attribute.value}}</td>
      </tr>
    </ng-container>
  </table>
</div>

<div class="basic-container" *ngIf="product != null">
  <app-reviews [productId]="product.id"></app-reviews>
</div>