@import "~src/variables";
@import "~src/general";

.product-detail-container {
  @extend %container-base;

  .score-row {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    align-content: center;
  }
}

.product-attribute-table {
  td {
    padding: 8px;
  }

  tr:nth-child(odd) {
    background: $app-background-color;
  }
}
