<div class="product-detail-container" *ngIf="product != null">
  <h2>
    {{product.name}}
  </h2>
  <div class="score-row">
    <bar-rating [(rate)]="product.scoreValue" [readOnly] [max]="5"></bar-rating>
    ( {{product.scoreValue}} )   

    <p class="ml-3" *ngIf="isLoggedIn && product.scoreByMe != null">    
        you scored this product: {{product.scoreByMe}}
    </p>
    <app-scoring *ngIf="isLoggedIn" 
      class="ml-3"
      [scored]="product.scoreByMe"
      (addScore)="addScore($event)">
    </app-scoring>
    <a *ngIf="!isLoggedIn" class="ml-3" 
      [routerLink]="['/account/login']" [queryParams]="{return: router.url}" >
      Score this product
    </a>
  </div>

 
  <!-- Todo -->
  <p>price: {{product.price}}</p>
  <p>category: {{product.categoryName}}</p>
  <p>brand: {{product.brandName}}</p>

  <!-- dynamic attributes -->
  <table class="product-attribute-table">
    <ng-container *ngFor="let attribute of product.attributes">
      <tr>
        <td>{{attribute.attributeName}}:</td>
        <td>{{attribute.value}}</td>
      </tr>
    </ng-container>
  </table>
</div>

<div class="basic-container" *ngIf="product != null">
  <app-reviews [productId]="product.id"></app-reviews>
</div>