@import "~src/variables";

.attribute-item {
    margin-top: 1rem;
    background: white;
  //  border: 1px solid $brand-blue-light;
    padding: 10px 0px;  
    border-radius: 7px;  

    .form-check
    {
        display: flex;      
        align-items: center;
        padding-left: 47px;

        .form-check-input{
            margin-top: 0px;
        }
    }
}