<div class="modal-header">
  <h4 class="modal-title">Offer</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <form class="col-sm-24 offer-container" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label>Price</label>
        <input [(ngModel)]="price" type="number" name="price" class="form-control" placeholder="0">
      </div>
      <div class="form-group">
        <label>Webshop product URL</label>
        <input [(ngModel)]="url" name="url" class="form-control" placeholder="example.com/products/123123">
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <ng-container *ngIf="!alreadyExists">
    <button (click)="makeOffer()" type="button" class="btn btn-primary">Active offer</button>
  </ng-container>
  <ng-container *ngIf="alreadyExists">
    <button (click)="makeOffer()" type="button" class="btn btn-outline-primary">Save Offer</button>
    <button (click)="deleteOffer()" type="button" class="btn btn btn-outline-dark">Delete Offer</button>
  </ng-container>
</div>