<div class="review-item-container">
  <div class="review-info">
    <div class="author-name">{{review.authorName}}</div>
    <div class="created">{{review.createdAt}}</div>
  </div>
  <div class="review-body">
    {{review.text}}
  </div>
  <div class="review-like-container">
    <button *ngIf="!review.isMine" [ngClass]="{voted : review.wasUpvotedByMe}" (click)="pressedUpvote()">
      <fa-icon [icon]="['fas', 'arrow-up']" size="xs"></fa-icon>
    </button>
    {{review.points}}
    <button *ngIf="!review.isMine" [ngClass]="{voted : review.wasDownvotedByMe}" (click)="pressedDownvote()">
      <fa-icon [icon]="['fas', 'arrow-down']" size="sm"></fa-icon>
    </button>

    <div *ngIf="review.isMine" class="own-comment-actions">
      <button>
        <fa-icon  [icon]="['fas', 'edit']" size="sm"></fa-icon>
      </button>      
      <button>
        <fa-icon  [icon]="['fas', 'trash']" size="sm"></fa-icon>
      </button>     
    </div>
  </div>
</div>