<div class="review-item-container">
  <div class="review-info">   
    <div class="author-name">{{review.authorName}}</div>
    <div class="created">{{review.createdAt}}</div>
  </div>
  <div class="review-body">    
    {{review.text}}
  </div>
  <div class="review-like-container">
    <button [attr.disabled]="review.isMine ? '' : null" (click)="callUpvote(review.id)">up</button>
    {{review.points}}
    <button [attr.disabled]="review.isMine ? '' : null" (click)="callDownvote(review.id)">down</button>
  </div>
</div>
