@import "~src/general"; 
@import "~src/variables"; 

.property-search-container{
    @extend %container-base;
}

.search-group-container{
    margin-bottom: 1rem;
    margin-right: -1rem;
    margin-left: -1rem;   
    .search-group-header{ 
        padding: 7px 20px;
        border-bottom: 1px solid $app-light-gray;
        border-top: 1px solid $app-light-gray;
        background: $app-background-color;
        font-weight: 600;
        color: $brand-blue;      
    }
    .search-group-content{
        padding: 0px 20px;
    }
}

