<div class="property-search-container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
          <label for="minimumPrice">Minimum price</label> 
          <input id="minimumPrice" name="minimumPrice" type="text" class="form-control">
        </div> 
  </div>
  <div class="col-12">
      <div class="form-group">
          <label for="maximumPrice">Maximum price</label> 
          <input id="maximumPrice" name="maximumPrice" type="text" class="form-control">
        </div> 
  </div>
  </div>

  <div class="row">
    <div class="col-24" *ngFor="let category of categories">
       <div class="category-picker-row">
         <span (click)="selectCategory(category.id)" [ngClass]="{'selected': category.id === filter.categoryId}">
           {{category.name}}
          </span> 
         <span (click)="unSelectCategory()">
            <fa-icon icon="times"></fa-icon>
          </span>
        </div>
    </div>
  </div>

</div>
