<div class="property-search-container">
  <div class="row search-group-container">
    <div class="col-24 search-group-header">
        Price
    </div>
    <div class="col-24 search-group-content price-slider">
        <ng5-slider [(value)]="filter.minimumPrice" [(highValue)]="filter.maximumPrice"
         (userChange)="onUserPriceSliderChange($event)"
         [options]="sliderOptions"></ng5-slider>
    </div>    
  </div>

  <div class="row search-group-container">
    <div class="col-24 search-group-header">
      Categories
    </div>
    <div class="col-24 search-group-content">
        <div *ngFor="let category of categories">
            <app-category-picker        
                      [category]="category"
                      (select)="selectCategory($event)"
                      (unSelect) = "unSelectCategory($event)">
            </app-category-picker>     
          </div>  
    </div>
   
  </div>

  <div class="row search-group-container">
    <div class="col-24 search-group-header">
      Brands
    </div>
    <div class="col-24 search-group-content">
        <div *ngFor="let brand of brands">
            <div *ngIf="brand != null">{{brand.name}}</div>
        </div>  
    </div> 
  </div>

</div>
