.score-box{  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    font-weight: 500;

    .br.br-default{
        margin: 5px 0p;
    }

    a:hover, a:visited, a:link, a:active{
        color: rgb(8, 8, 8);
        text-decoration: none;
    }
    a:hover{
        font-weight: 600;
    }
}

