@import 'variables';

body{
    background-color: $app-background-color;    
}
%container-base{
    background-color: $container-color;   
    padding: 1rem;
    margin-top: 1rem;    
}

.basic-container{
    @extend %container-base;
}

.no-padding{
    padding: 0px;
}

.pointer{
    cursor: pointer;
}

.max-width{
    width: 100%;
}