$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$container-color:  white;
$app-background-color: #f8f8f8;
$brand-blue: #0f2845;
$brand-blue-lighter: #96acc5;
$brand-blue-light: #376191;
$app-light-gray: #d6d6d6;
$app-mild-gray: #b5b5b5;

// override bootstrap variables 
$grid-columns: 24;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);
$grid-gutter-width: 20px;